html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #F2EDD7;
    scroll-behavior: smooth;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.sketch-container{
    text-align: center;
    background-color: #F2EDD7; 
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;  
    width: 50%;
    height: 95vh;
}
.grid{
    grid-row: 2;
    height: 100%;
    width: 100%;
    border: solid 1px #3A6351;
    border-radius: 0.2em;
    display: grid;
    justify-self: center;
    overflow: hidden ;
}
.grid-item{
    border: solid 0.1px rgba(14, 14, 13, 0.034);
    
}
.header{
    text-align: center;
    color:white ;
    background-color: #3A6351;
    width: 100%;
    padding:1em;
    font-size: 1.1rem;
    width: 94%;
    letter-spacing: 0.6em;
}
.slider-container{
    grid-row: 3;
    width: 100%;
    justify-self: center;
}
input{
    width: 50%;
}

.sidebar{
    background-color: #3A6351;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-self: center;
    width: 3em;
    border-radius: 0.4em;
}

.color-container{
    display: none;
}
.fas{
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
}
footer{
    margin: 0;
   text-align: center;
    margin-left: 3em;
}
footer a{
    text-decoration: none;
    color: black;
}
@media(max-width: 40em){
    .main-container{
        gap:0.3em;
        justify-content: space-between;
    }
    .sketch-container{
        height: 90vh;
        width: 100%;
        margin: 0.3em;
       
    }
    .grid{
        height: 50vh;
    }
    .header{
        padding:0.7em;
        font-size: 1rem;
        width: 95%;
        letter-spacing: 0.6em;
    }
    .sidebar{
        height: 40vh;
    }
}
